body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    font-family: 'Montserrat', sans-serif;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: 30px;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #031025;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Style for attendance */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 34px; /* space for chevron */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>') no-repeat right 10px center;
    background-size: 16px 16px;
}

.custom-file {
    margin-bottom: 20px;
    margin-left: 80px;
}

