{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <style>
        .table td, .table th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                    {% for week_label in week_labels | reverse %}
                        <th>{{ week_label }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for _ in week_labels | reverse %}
                        <th>Meeting</th>
                        <th>Shift Hours</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for username, data in user_data.items() %}
                    <tr>
                        <td rowspan="2">{{ username }}</td>
                        {% for attended in data.attendance %}
                            <td><input type="checkbox" disabled {% if attended %}checked{% endif %}></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for shift in data.shift_hours %}
                            <td><input type="checkbox" disabled {% if shift %}checked{% endif %}></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <dd class="col-sm-8">Keterangan: baris pertama = weekly, baris kedua = shift</dd>
    </div>
{% endblock %}
